<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="com.cgWorkstudio.BIMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.cgWorkstudio.BIMP.Properties.Settings>
            <setting name="DBFramework_bimpApp_Service1" serializeAs="String">
                <value>http://localhost:46409/bimp_CloudPro.asmx</value>
            </setting>
        </com.cgWorkstudio.BIMP.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="mysql_savefilepath" value=""/>
    <add key="MSSQL_ServerIP" value="localhost"/>
    <add key="MSSQL_Port" value="1433"/>
    <add key="MSSQL_User" value="sa"/>
    <add key="MSSQL_Pwd" value="cssd20151231@"/>
    <add key="MSSQL_Schema" value="PACKPRESSDB"/>
    <add key="Project_SavePath" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data></configuration>
